/* COLOURS */
$black: #000;
$white: #fff;
$gray-darkest: #333;
$gray-darker: #555;
$gray-dark: #777;
$gray: #999;
$gray-light: #aaa;
$gray-lighter: #ccc;
$gray-lightest: #eee;
$gray-border: #f1f1f1; 


$brand-primary: #f0f;

/* FONTS */

$font: 'Amatic SC', cursive;

/* GRID SIZING */
$container-max: 1300px;
