* {
	box-sizing: content-box;
}

body {
	font-family: $font;
	min-height: 10000px;
}

img {
	max-width: 100%;
}

::selection {
	background: $brand-primary;
	color: $black;
}

a {
	text-decoration: none;
}